*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(95, 216, 95) !important;
}
h1{
    margin-top: 60px !important;
    border: 2px solid #ffffff;
    padding: 20px;
    border-radius: 20px;  
    text-align: center;  
}

h1:hover{
    background-color: rgb(24, 225, 24);
    color: #ffffff;
}
.weatherSet{
    background-color: rgb(0, 128, 0);
    margin: 30px 0 0 30px;
    padding: 30px 0 30px 0px;
    border-radius: 30px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}
form{
    padding: 30px 50px 30px 50px;
    text-align: center;
    display: flex ;
    justify-content: space-between;
}
p,.errorDisplay,.tempDisplay .humidity .description .weatherEmoji{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    font-style: italic;
    font-style: normal;
}

button{
    background-color: rgb(24, 225, 24);
    padding: 10px;
    color: #ffffff;
    border-radius: 10px !important;
    border: none;
}
input {
    background: 0;
    border: 0;
    outline: none;
    color: #ffffff;
    width: 80vw;
    font-weight: bold;
    max-width: 170px;
    font-size: 24px !important;
    transition: padding 0.3s 0.2s ease;
  
    &:focus {
      padding-bottom: 5px;
    }
    &:focus + .line {
        &:after {
          transform: scaleX(1);
        }
    }
}
.weatherEmoji{
    font-size: 4rem;
}

@media(max-width:576px){
    .forms{
        padding: 50px 0 !important;
    }
}
